#include base

#fragment push decl.sized_buffer:inline
&'a [u8]
#fragment pop

#fragment push from_bytes.sized_buffer:inline
crate::codec::VarBytes::<{codec}>
#fragment pop

#fragment push write.sized_buffer:inline
crate::codec::VarBytes::<{codec}>
#fragment pop
